<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

</script src="allscripts.js"></script>


</body>
</html>
